{{!
    This file is part of Moodle - http://moodle.org/

    @template block_mydata/course_selection
    @copyright 2025 Your Name
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    Course selection results template for block_mydata
}}
<div class="block_mydata block_mydata_course_selection">
    <div class="results-section mt-4">
        <h3><i class="fa fa-chart-bar"></i> {{#str}}selected_courses_report, block_mydata{{/str}}</h3>
        
        {{#courses}}
        <div class="course-result mb-4">
            <h4>
                <i class="fa fa-graduation-cap"></i> 
                {{coursename}}
            </h4>
            
            {{#hasusers}}
            <div class="block_mydata">
                <table class="generaltable">
                    <thead>
                        <tr>
                            <th><i class="fa fa-hashtag"></i> STT</th>
                            <th><i class="fa fa-user"></i> Username</th>
                            <th><i class="fa fa-id-card"></i> Họ tên</th>
                            <th><i class="fa fa-envelope"></i> Email</th>
                            <th><i class="fa fa-user-tag"></i> Vai trò</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#users}}
                        <tr>
                            <td class="text-center">{{stt}}</td>
                            <td>
                                <a href="{{userprofileurl}}">
                                    <strong>{{username}}</strong>
                                </a>
                            </td>
                            <td>
                                <a href="{{userprofileurl}}">
                                    {{fullname}}
                                </a>
                            </td>
                            <td>
                                <small class="text-muted">{{email}}</small>
                            </td>
                            <td>
                                <span class="badge badge-{{roleclass}}">{{rolename}}</span>
                            </td>
                        </tr>
                        {{/users}}
                    </tbody>
                </table>
            </div>
            <p class="font-weight-bold">
                <i class="fa fa-users"></i> 
                Tổng số: {{totalusers}} người dùng
            </p>
            {{/hasusers}}
            
            {{^hasusers}}
            <div class="alert alert-warning">
                <i class="fa fa-exclamation-triangle"></i>
                {{#str}}no_users_in_course, block_mydata{{/str}}
            </div>
            {{/hasusers}}
        </div>
        {{/courses}}
        
        <div class="text-center mt-4">
            <a href="{{reporturl}}" class="btn btn-primary">
                <i class="fa fa-plus"></i> {{#str}}create_new_report, block_mydata{{/str}}
            </a>
        </div>
    </div>
</div>