{{!
    This file is part of Moodle - http://moodle.org/

    @template block_mydata/form_description
    @copyright 2025 Your Name
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    Form description template for block_mydata
}}
<div class="block_mydata block_mydata_course_selection">
    <div class="alert alert-info mb-3">
        <h5><i class="fa fa-info-circle"></i> {{#str}}description_form, block_mydata{{/str}}</h5>
        <p>{{#str}}course_selection_help, block_mydata{{/str}}</p>
    </div>
</div>