{{!
    This file is part of Moodle - http://moodle.org/

    @template block_mydata/users_list
    @copyright 2025 Your Name
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    Users list template for block_mydata
}}
<div class="block_mydata block_mydata_users_list">
    <h3><i class="fa fa-users"></i> {{#str}}users_list, block_mydata{{/str}}</h3>
    
    {{#hasusers}}
    <table class="generaltable">
        <thead>
            <tr>
                <th><i class="fa fa-hashtag"></i> {{#str}}number, block_mydata{{/str}}</th>
                <th><i class="fa fa-user"></i> {{#str}}username{{/str}}</th>
                <th><i class="fa fa-id-card"></i> {{#str}}fullname{{/str}}</th>
                <th><i class="fa fa-envelope"></i> {{#str}}email{{/str}}</th>
            </tr>
        </thead>
        <tbody>
            {{#users}}
            <tr>
                <td class="text-center">{{stt}}</td>
                <td>
                    <a href="{{userprofileurl}}">
                        <strong>{{username}}</strong>
                    </a>
                </td>
                <td>
                    <a href="{{userprofileurl}}">
                        {{fullname}}
                    </a>
                </td>
                <td>
                    <small class="text-muted">{{email}}</small>
                </td>
            </tr>
            {{/users}}
        </tbody>
    </table>
    {{/hasusers}}
    
    {{^hasusers}}
    <div class="alert alert-info">
        <i class="fa fa-info-circle"></i> 
        {{#str}}no_users_found, block_mydata{{/str}}
    </div>
    {{/hasusers}}
</div>